<div class="container content-container">
  <div class="top-container">
    <button mat-raised-button routerLink="/client-form" class="btn-add">
      <i class="fa-solid fa-plus" style="color: #00adb5;"></i>
    </button>
  </div>
  <mat-card>
    <mat-card-content>
      <div class="mat-elevation-z8">
        <!-- <mat-form-field>
        <mat-label>search</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="search">
      </mat-form-field> -->
        <table mat-table [dataSource]="dataSource" matSort>

          <ng-container matColumnDef="cin">
            <th mat-header-cell *matHeaderCellDef mat-sort-header
              class="wrap-cell"> Cin </th>
            <td mat-cell *matCellDef="let element" class="wrap-cell">
              {{element.cin}}</td>
          </ng-container>

          <ng-container matColumnDef="nom">
            <th mat-header-cell *matHeaderCellDef mat-sort-header
              class="wrap-cell"> Nom </th>
            <td mat-cell *matCellDef="let element" class="wrap-cell">
              {{element.nom}}</td>
          </ng-container>

          <ng-container matColumnDef="prenom">
            <th mat-header-cell *matHeaderCellDef mat-sort-header
              class="wrap-cell"> Prenom </th>
            <td mat-cell *matCellDef="let element" class="wrap-cell">
              {{element.prenom}} </td>
          </ng-container>


          <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef class="wrap-cell">actions</th>
            <td mat-cell *matCellDef="let element" class="wrap-cell">
              <button class="client-action" routerLink="{{element.cin}}/update/">
                <i class="fa-regular fa-pen-to-square" style="color: #9e9e9e;"></i>
              </button>
              <button class="client-action" (click)="supprimer(element.cin)">
                <i class="fa-solid fa-trash-can" style="color: #9e9e9e;"></i>
              </button>
              <button class="client-action" routerLink="{{element.cin}}/account/">
                <i class="fas fa-money-check-alt" style="color: #9e9e9e;"></i>
              </button>
              <button class="client-action delete-ajax" (click)="supprimerAjax(element.cin)">
                <i class="fa-solid fa-trash-can" style="color: #5f0000;"></i>
              </button>
            </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      </div>
    </mat-card-content>
  </mat-card>
</div>